@model SocialMedia
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Sosyal Medya</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Ssoyal Medya Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Url</label>
							<input type="text" asp-for="Url" class="form-control" />
							<br />
							<label>Icon</label>
							<input type="text" asp-for="Icon" class="form-control" />
							<br />

							<button class="btn btn-primary">Sosyal Medya Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

