@model Contact
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Layout/Index.cshtml";
}



<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Deneyimler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Deneyim Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="Description" class="form-control" />
							<br />
							<label>Telefon1</label>
							<input type="text" asp-for="Phone1" class="form-control" />
							<br />
							<label>Telefon2</label>
							<textarea rows="4" class="form-control" asp-for="Phone2"></textarea>
							<br />
							<label>Mail1</label>
							<input type="text" asp-for="Email1" class="form-control" />
							<br />
							<label>Mail2</label>
							<textarea rows="4" class="form-control" asp-for="Email2"></textarea>
							<br />
							<label>Adres</label>
							<textarea rows="4" class="form-control" asp-for="Address"></textarea>
							<br />

							<button class="btn btn-primary">İletişim Ekle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

