@model Portfolio
@{
    ViewData["Title"] = "UpdatePortfolio";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Deneyimler</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Deneyim Ekleme Sayfası</div>
					</div>
					<div class="card-body">
						<form method="post">
							<input type="hidden" asp-for="PortfolioId" />
							<label>Başlık</label>
							<input type="text" asp-for="Title" class="form-control" />
							<br />
							<label> Alt Başlık</label>
							<input type="text" asp-for="SubTitle" class="form-control" />
							<br />
							<label> Resim</label>
							<input type="text" asp-for="ImageUrl" class="form-control" />
							<br />
							<label> URL</label>
							<input type="text" asp-for="Url" class="form-control" />
							<br />
							<label>Açıklama</label>
							<input type="text" asp-for="Description" class="form-control" />
							<br />

							<button class="btn btn-primary">Öne Proje Güncelle</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

